<div class="container">

    <h1>Lista zadań</h1>
    <ul class="list-group">
        <li [ngClass]="{'complete-Task': task.taskComplete}" class="list-group-item li-items" *ngFor="let task of tasks$ |async; let i = index">
            {{task.taskName}}
            <div class="btns__action">
                <button (click)="doneTask(i)" class="btn btn-success">Ok</button>
                <button [disabled]="task.taskComplete" (click)="openEditForm(task,i)" class="btn btn-primary btns__action-edit">Edytuj</button>
                <button (click)="removeTask(i)" class="btn btn-danger">Usun</button>
            </div>
        </li>
    </ul>
    <p *ngIf="(tasks$ | async)!.length === 0" class="error-info">Brak zadań na liscie</p>
    <button (click)="openAddForm()" class="btn btn-primary btn-add ">Dodaj zadanie</button>

</div>