.container {
  margin-top: 40px;

  .btns__action {
    &-edit {
      margin: 0 7px;
    }
  }

  .btn-add {
    margin-top: 40px;
  }

  .complete-Task {
    text-decoration: line-through;
    font-size: 12px;
    color: red;
    background-color: rgb(218, 228, 226);
  }

  .error-info {
    font-size: 30px;
    color: red;
  }
}

@media (min-width: 320px) {
  .li-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    line-height: 35px;
  }
}

@media (min-width: 768px) {
  .li-items {
    flex-direction: row;
  }
}
