<div class="container">
    <h1>Lista zadań</h1>

    <ul class="list-group">
        <li class="list-group-item li-items" *ngFor="let task of tasks; let i = index">
            {{task.taskName}}
            <div class="btns__action">
                <button class="btn btn-success">Ok</button>
                <button (click)="openEditForm(task,i)" class="btn btn-primary btns__action-edit">Edytuj</button>
                <button class="btn btn-danger">Usun</button>
            </div>
        </li>
    </ul>

    <button (click)="openAddForm()" class="btn btn-primary btn-add ">Dodaj zadanie</button>
</div>