.container {
  margin-top: 40px;

  .li-items {
    font-weight: bold;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
  }

  .btns__action {
    &-edit {
      margin: 0 7px;
    }
  }

  .btn-add {
    margin-top: 40px;
  }

  .complete-Task {
    text-decoration: line-through;
    font-size: 10px;
    color: red;
    background-color: rgb(218, 228, 226);
  }

  .error-info {
    font-size: 36px;
    color: red;
  }
}
