<form [formGroup]="form" (submit)="saveTask()">

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <div [ngSwitch]="mode">
                <span *ngSwitchCase="taskMode.CREATE">Dodaj zadanie</span>
                <span *ngSwitchCase="taskMode.UPDATE">Edytuj zadanie</span>
                <span *ngSwitchDefault>Nie odnaleziono</span>

            </div>
        </h4>
    </div>

    <div class="modal-body">
        <div class="form-floating mb-3  ">
            <input formControlName="taskName" class="form-control" id="floatingInput" placeholder="Your task">
            <label for="floatingInput">Task name</label>

            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Dodaj</button>
            </div>
        </div>
    </div>

</form>